.row-height {
    height: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}


td ul {
    padding-inline-start: 0;
    margin: 0;
}


li {
    list-style: none;
    font-size: 14px;
}